@font-face {
  font-family: 'Gafata';
  font-style: normal;
  font-weight: 400;
  src: local('Gafata'), local('Gafata-Regular'), url(http://fonts.gstatic.com/s/gafata/v5/huW5kFr5H0qwNOVvefTUkw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/gafata/v5/1_IZAK3uvysA0G_ed1qSXA.woff) format('woff');
}